.navbar-brand {
  font-family: 'Capriola', sans-serif;
  color: #8816FF;
}
.heading, .title {
  font-family: 'Capriola', sans-serif;
}
.title {
  color: white;
}
.heading:hover {
  color: #5A00B2;
}
h2 span {
  background-color: black;
}
h2 {
  margin-top: 19%;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}
h2:hover {
  color: #75697F;
}
.takeaction {
  background-color: #9F8AF7;
  color: white;
}
a {
  color: none;
}
.takeaction:hover {
  background-color: #8816FF;
}
.buttons {
  padding-top: 20px;
  text-align: center;
}
.hidden-buttons {
  display:none;
}
.steps {
  width: 95%;
  display: inline-block;
  text-align: left;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  border-style: solid;
  border-color: #999999;
  border-left-width: thin;
  color: 	#4c4c4c;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  background-color: #f9f9f9;
  border-width: .5px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.steps:hover {
  background-color: #ffffff;
  color: black;
}
.cover {
  padding-top: 40px;
  padding-bottom: 22%;
  margin-left: -3px;
  margin-top: 0px;
  background-image: url('inbrainbackground.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.headingcontainer:hover {
  background-color: #FDFFDA;
}
#calendarHeading {
  margin-top: 100px;
}
@media screen and (max-width: 400px) { /*.43*/
  .buttons {
    padding-top: 8.6px;
  }
  .steps {
    width: 100%;
    display: block;
    margin-left: 12.9px;
    padding-left: 8.6px;
    padding-right: 8.6px;
    border-width: .215px;
    padding-bottom: 8.6px;
    padding-top: 8.6px;
  }
  .cover {
    padding-top: 17.2px;
    padding-bottom: 55.9px;
    margin-left: -1.38px;
    height: 43%;
    width: 100%;
  }
}
.questions div{
  display: none;
}
